# Clojure and Clojurescript
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/resources/public/js/compiled/*
/bin
.rebel_readline_history
/.cpcache

# Node Environment
/node_modules
yarn-error.log

# Solidity Contract Extensions
*.bin
*.abi

# Misc
/dist