/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/resources/public/js/compiled/*
/bin
/dist
.rebel_readline_history
/.cpcache
/node_modules
# yarn.lock # keep commented for now.