;; Figwheel 'dev-ui' Build Configuration File
;;
;; Notes:
;;
;; - webpack is used to pull in foreign libs for the browser
;;   
;;   - Add new npm libs with `yarn add <package-name>`, update with `make webpack`
;;
;; - An automatic browser test-runner runs under http://localhost:9500/test-runner.html

^{:watch-dirs ["dev/ui" "dev/shared"
               "test/ui" "test/shared"
               "src/ui" "src/shared"]
  :npm {:bundles {"target/webpack/bundles/ui_bundle.js"
                  "./src/js/index_ui.js"}}
  :extra-main-files {:testing {:main rbounty.ui.test-runner}}}
{:main cljs.user
 :closure-defines {rbounty.ui.core/DEV true}}
