;; Figwheel 'dev-server' Build Configuration File

^{:watch-dirs ["dev/server" "dev/shared"
               "test/server" "test/shared"
               "src/server" "src/shared"]}
{:main cljs.user
 :closure-defines {rbounty.server.core/DEV true}
 :target :nodejs}
