^{:watch-dirs ["dev/ui" "dev/shared"
               "test/ui" "test/shared"
               "src/ui" "src/shared"]
  :extra-main-files {:testing {:main rbounty.test-runner}}}
{:main rbounty.dev-ui
 :closure-defines {rbounty.ui.core/DEV true}}
