^{:npm {:bundles {"target/webpack/bundles/ui_bundle.js"
                  "src/js/index_ui.js"}}}
{:main rbounty.ui.core
 :closure-defines {rbounty.ui.core/DEV false}
 :optimizations :advanced
 :output-to "./dist/public/cljs-out/build-prod-ui-main.js"}
